* {
    box-sizing: border-box;
}

.pokemon-list {
  list-style-type: none;
}

.pokemon-button {
    /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #d3d3d3;
  color: #000;
  text-decoration: none;
  text-align: center;

  /* adds spacing to the button */
  border-radius: 3px;
  margin: 4px 2px;
  width: 300px;
  height: 50px;
}

.pokemon-button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}